@font-face
{
	font-family: 'OCR';
	src: url("../font/ocr_a_extended.ttf");
}

#mapa
{
	margin-top: 90px;
	padding: 30px;
}

p
{
	font-weight: bold;
}

h1
{
	font-family: 'OCR';
	text-align: center;
	font-size: 40px;
}